{% load i18n sizeformat %}

<h3>{% trans "Host Analysis" %}</h3>

<div class="info row-fluid">
  <hr class="header_rule">
  <dt>{% trans "Plot daily averages for a given meter, month, and year" %}.</dt>
  <dt>{% trans "Note: Generating the data may take a moment" %}.</dt>
  <br/>
  <form id="_host_analysis_form" action="" method="get" id="date_form" class="form-horizontal">
    <input type="hidden" name="tab" value="host_details__analysis" />
    <div class="form-row">
      {{ form.month }}
      {{ form.year }}
      {{ form.meter }}
      <button class="btn btn-small" type="submit">{% trans "Submit" %}</button>
    </div>
  </form>
  
  {% if submitted %}
    <h4>{% trans "Graph" %}</h4>
    <hr class="header_rule">

    {% if graph %}
    <script type="text/javascript">
    var Giraffe = {
      graph: {
        data: [{% for d in graph.data %}'{{ d }}'{% if not forloop.last %},{% endif %}{% endfor %}]
      }
    }
    </script>
    {% else %}
    <i>no data</i>
    {% endif %}
  {% endif %}
</div>
