{% load i18n sizeformat %}

<h3>{% trans "Host Analysis" %}</h3>

<div class="info row-fluid">
  <hr class="header_rule">
  <dt>{% trans "Plot daily averages for a given meter, month, and year" %}.</dt>
  <dt>{% trans "Note: Generating the data may take a moment" %}.</dt>
  <br/>
  <form action="" method="get" id="date_form" class="form-horizontal">
    <input type="hidden" name="tab" value="host_details__analysis" />
    <div class="form-row">
      {{ form.month }}
      {{ form.year }}
      {{ form.meter }}
      <button class="btn btn-small" type="submit">{% trans "Submit" %}</button>
    </div>
  </form>
  
  {% if submitted %}
    <h4>{% trans "Graph" %}</h4>
    <hr class="header_rule">

    {% if graph %}
    <div id="giraffe_graph" style="min-width: 400px; height: 400px; margin: 0 auto"></div> 
    <script type="text/javascript">
    var Giraffe = {
      static_url: '{{ STATIC_URL }}',
      graph: {
        type: 'line',
        target: 'giraffe_graph',
        title: '{% trans "Daily Average" %}: {% if meter %}{{ meter.name }}{% else %}?{% endif %}',
        subtitle: '',
        y: {
          label: '{% if meter %}{{ meter.unit_name }}{% else %}?{% endif %}',
          series: [
            {
              name: '{{ host.name }}',
              data: [{% for d in graph.y_data %}{% if d %}{{ d }}{% else %}null{% endif %}{% if not forloop.last %},{% endif %}{% endfor %}]
            }
          ]
        },
        x: {
          label: '{% trans "Day" %}',
          data: [{% for d in graph.x_data %}{% if d %}{{ d }}{% else %}null{% endif %}{% if not forloop.last %},{% endif %}{% endfor %}]
        }
      }
    }
    </script>
    {% else %}
    <i>no data</i>
    {% endif %}
  {% endif %}
</div>
